<!--This is a newly new created about.html-->
<!-- The main.html here is actually mytodo's about.html -->
<div class="jumbotron">
  <h1>Map'ED Team</h1>
  <p class="lead">
    Map'Ed is built as part of INFX 598 'Practicum to Build Single Page Applications' under the guidance of Prof. William Jones. The contributors to this project are students at the University of Washington iSchool, Seattle. <strong>Contact us if you have any questions!</strong> 
  </p>
  <div style="text-align: center">
    <h3>Nikita Redij</h3>
    <img src="images/nikita.jpg" class='img-circle' height="260" width="260" alternate="Nikita Redij">
    <p>MS in Information Management | 2016</p>
    <p>University of Washington</p>
    <p>nikitar@uw.edu</p>
    <p><a href="http://www.nikitaredij.com">Website</a></p>
    <p><a href="https://www.linkedin.com/in/nikitaredij">Linkedin</a></p>
  </div>
<hr>
<br/>
  <div style="text-align: center">
    <h3>Parth Shah</h3>
    <img src="images/parth.jpg" class='img-circle' height="260" width="260" alternate="Parth Shah">
    <p>MS in Information Management | 2016</p>
    <p>University of Washington</p>
    <p>parths@uw.edu</p>
    <p><a href="http://www.behance.net/sparth27">Website</a></p>
    <p><a href="">Linkedin</a></p>
  </div>

</div>