<!-- The main.html here is actually mytodo's about.html -->
<div class="jumbotron">
  <h1>Map'ED</h1>
  <p class="lead">
    This is Map'ED application built using ItemMirror to document your academic journey. 
    Give it a try to see how far you have come and how much you have achieved!
  </p>
  <p>

    In order for this demo to work, you <strong>must enable pop-ups</strong> on
    this site. This is just so Dropbox can connect properly.

  </p>
  <p>
    Press the big green button to get started!
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/explorer">Start&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span></a></p>
  <!-- This button takes you to the main page which is explorer.html here. ItemMirror>explorer.html is actually Mytodo>main.html-->
</div>
